<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.healthyrate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthyRate">
        <activity android:name=".org_add_exercise"></activity>
        <activity android:name=".org_Exer_show">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".org_Exercise_new">


        </activity>
        <activity android:name=".ResultFitness" />
        <activity android:name=".CalculateFitness" >

        </activity>

        <activity android:name=".ShoweActivity" >
        </activity>
        <activity android:name=".Add_New_Exercise"></activity>
        <activity android:name=".appointment_lab" >


        </activity>
        <activity android:name=".labReport_retrive_data" />
        <activity android:name=".retrive_Lab_data" />
        <activity android:name=".Get_lab_report" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.HealthyRate.NoActionBar" />
    </application>

</manifest>